:root{
    --dark-blue-color:#0C356A;
    --blue-color:#0174BE;
    --yellow-color:#FFC436; 
    --light-pink-color :#FFF0CE;
}
*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    color: var(--blue-color);
    background-color: var(--light-pink-color);
}
.signUp-form{
    /* width: 50%; */
    /* border: 2px solid var(--dark-blue-color); */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:15px;
}
.signUp-form label{
    justify-content: start;
}
.signUp-form input[type = "text"],input[type = "email"],input[type = "password"]{
    width:50%;
    margin-bottom: 5px;
    background-color: none;
}
.invalid-feedback{
display: flex !important;
flex-direction: column !important;
justify-content: center;
align-items: center;
}
.navbar{
    background-color: var(--yellow-color);
    
}
.nav-link ,.navbar-brand ,.navbar-toggler{
    color: var(--dark-blue-color);
}
.edit-nav{
    display :flex;
    justify-content: end;
    align-items: center;
    width: 100%;

}
.edit-nav li{
margin-right: 10px;
}
.main-cont{
    margin-top: 50px;
}
.main-panel{
margin-top: 150px;
display: flex;
justify-content: center ;
}
.signup-panel , .login-panel{
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}